@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 40px;
  gap: 15px;
}

.text h2 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
}

.link {
  display: flex;
  align-items: start;
  gap: 10px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}

.link a:hover {
  color: var(--color-accent);
}

.link img {
  width: 24px;
  height: 24px;
  display: block;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
